*{
    font-family: 'Montserrat', sans-serif;
}

.converter{
    display: flex;
    justify-content: space-around;
}


.converterTitle{
    margin-bottom: 40px;
    margin-top: 150px;
    text-align: center;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
}

input[type="number"],
select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    margin: 5px;
}

input[type="number"]:focus,
select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}